@tailwind base;
@tailwind components;
@tailwind utilities;

.drawer-side a.active {
    color: rgb(166, 96, 96);
  }
  .drawer-side a {
    background-color: transparent;
}

.light-theme {
  background-color: #fbf7f7;
  color: #000000;
}

.dark-theme {
  background-color: rgb(7%, 9%, 15%);
  color: white;
}
